$font-path: '../../vendor/fontello/font/';

@font-face {
  font-family: 'fontello';
  src: url($font-path + 'fontello.eot');
  src: url($font-path + 'fontello.eot#iefix') format('embedded-opentype'),
       url($font-path + 'fontello.woff') format('woff'),
       url($font-path + 'fontello.ttf') format('truetype'),
       url($font-path + 'fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.ico {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: none;

  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  //font-size: 120%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.ico-2x {
  font-size: 180%;
}

i.ico-3x {
  font-size: 270%;
}

i.ico-4x {
  font-size: 360%;
}

i.ico-5x {
  font-size: 450%;
}

i.ico-flag:before { content: "\e800"; }
i.ico-group:before { content: "\e801"; }
i.ico-cogs:before { content: "\e802"; }
i.ico-eye:before { content: "\e803"; }
i.ico-down-open:before { content: "\e804"; }
i.ico-left-open:before { content: "\e805"; }
i.ico-right-open:before { content: "\e806"; }
i.ico-up-open:before { content: "\e807"; }
i.ico-location:before { content: "\e808"; }
i.ico-calendar:before { content: "\e809"; }
i.ico-mail:before { content: "\e80a"; }
i.ico-briefcase:before { content: "\e80b"; }
i.ico-clock:before { content: "\e80c"; }
i.ico-down-dir:before { content: "\e80d"; }
i.ico-left-dir:before { content: "\e80e"; }
i.ico-right-dir:before { content: "\e80f"; }
i.ico-up-dir:before { content: "\e810"; }
i.ico-lightbulb:before { content: "\f0eb"; }
i.ico-quote-left:before { content: "\f10d"; }
i.ico-quote-right:before { content: "\f10e"; }
i.ico-graduation-cap:before { content: "\f19d"; }
i.ico-chart-line:before { content: "\f201"; }
i.ico-github-squared:before { content: "\f300"; }
i.ico-twitter-squared:before { content: "\f304"; }
i.ico-linkedin-squared:before { content: "\f30c"; }
i.ico-thumbs-up:before { content: "\e811"; }
i.ico-thumbs-up-alt:before { content: "\f164"; }
i.ico-user:before { content: "\e812"; }
