blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;

  p {
    margin: 5px;
  }
}

.summary i {

}

.summary {
  text-align:justify;
  text-justify:auto;
  i {
    width: 20px;
  }
  em {
    font-size: 18px;
  }
}
