.strength-item {
  text-align: center;
  margin-bottom: 50px;

  h3 {
    font-size: 20px;
  }
  small {
    color: #aeaeae;
    font-size: 14px;
  }


  i.ico-4x {
    height: 100px;
    padding: 10px;
  }

  button {
    cursor: pointer;
  }

}
