.project-tech {
  margin: 2px;
  display: inline-block;
  font-weight: normal;
  background-color: $jamro-dark;
}

.project-card {
  margin-bottom: 3em;
}

.btn-circle {
  text-align: center;
  width: 3em;
  height: 3em;
  padding: 0.5em;
  border-radius: 50%;
  font-size: 1em;
  color: #fff;
}

.btn-circle:hover {
  color: #fff;
}

.project-links {
  float: right;
  margin-top: -2em;
}

.project-links .button {
  display: inline-block;
  border: 0.25em solid #fff;
}

.card-img-top {
  border-bottom: 1px solid #ddd;
}

.project-featured {

  .featured-label {
    font-weight: bold;
    color: #884;
    font-size: 0.75em;
  }

  .project-card {
    background-color: #ffe;
    border: 1px solid #996;
  }

  .project-links .button {
    border: 0.25em solid #ffe;
  }
}