.page-footer {
  background-color: $jamro-primary;
  text-align: center;
  color: $white;
  width: 100%;
  margin-top: 40px;
  padding: 30px;

  i, a {
    color: $white;
  }

  i {
    margin: 10px;
    font-size: 5em;
  }

  a {
    text-decoration: none;
  }

  .square {
    display: inline-flex; 
    width: 4.5em; 
    height: 4.5em; 
    border-radius: 0.5em; 
    background-color: #fff; 
    justify-content: center; 
    align-items: center;
    margin: 0 0.5em;

    i {
      color: #E95420; 
      font-size: 3em;
    }
  }
}
